
<form id="capture-data" method="post">
    <input type="text" name="ProductId" />
    <input type="text" name="Price" />
    <input type="text" name="Amount" />
    <input type="submit" value="Send" />
</form>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script>
  $('#capture-data').submit(function(event) {
			if (!event)
				var event = window.event;
			event.preventDefault();
			try {
				var validation = new Validation();
				validation.check('name');

				validation.check('email');
				validation.check('phone');

				var data = '{"ProductId": "' + validation.name + '", "Amount": "' + validation.email + '",}';
			    alert(data);

			$.ajax({
  type: "POST",
  contentType: "application/json; charset=utf-8",
  url: "http://localhost:44436/api-order/InsertOrder",
  data: data,
  dataType: "json"
});


		} catch (exception) {
			alert('There was some issue, please check browser console');
			console.log(exception);
		}
		});

		function Validation() {
			this.name = $('input[name="ProductId"]').val();
			this.email = $('input[name="Price"]').val();
			this.phone = $('input[name="Amount"]').val();
		}

		Validation.prototype.check = function(what) {
			switch (what) {
				case 'name':
					var validName = /^([a-z](\.)?(\ )?){3,}$/i;
					if (this.name.length > 0 && validName.test(this.name) === false) {
						throw "Invalid characters in name";
					}
					break;
				case 'email':
					var validEmail = /^([a-z0-9]\.?\_?)+\@[a-z0-9]+\.?[a-z]{2,3}\.?[a-z]{2,3}$/i;
					if (this.email.length > 0 && validEmail.test(this.email) === false) {
						throw "Email format not proper.";
					}
					break;
				case 'phone':
					var validPhone = /^\+?[0-9]{6,15}$/i;
					if (this.phone.length > 0 && validPhone.test(this.phone) === false) {
						throw "Phone number needs to be worked upon";
					}
					break;
			}
		}
</script>